package:
  name: vtk
  version: {{ package_versions.vtk }}

source:

  url: http://www.vtk.org/files/release/7.1/VTK-{{ package_versions.vtk }}.tar.gz
  fn:  VTK-{{ package_versions.vtk }}.tar.gz

build:
  has_prefix_files:                           [win]
    - Lib/site-packages/vtk/__init__.py       [win]

requirements:
  build:
    - cmake # [linux]
    - make # [linux]
    - automake # [linux]
    - gcc # [linux]
    - git # [linux]
    - python {{ run_dependencies.python }}
  run:
    - python {{ run_dependencies.python }}

test:
  imports:
    - vtk
    - vtk.vtkChartsCore
    - vtk.vtkCommonCore
    - vtk.vtkFiltersCore
    - vtk.vtkFiltersGeneric
    - vtk.vtkGeovisCore
    - vtk.vtkFiltersHybrid
    - vtk.vtkIOCore
    - vtk.vtkImagingCore
    - vtk.vtkInfovisCore
    - vtk.vtkRenderingCore
    - vtk.vtkViewsCore
    - vtk.vtkRenderingVolume
    - vtk.vtkInteractionWidgets

about:
  home: http://www.vtk.org/
  license: BSD
  summary: VTK is an open-source, freely available software system for 3D computer graphics
