package:
    name: superlu
    version: {{ package_versions.superlu }}
    
source:
    git_url: https://github.com/xiaoyeli/superlu
    git_rev: master

requirements:
    build:
        - gcc # [linux]
        - cmake # [linux]
        - automake # [linux]
        - make # [linux]

test:
    commands:
        # Verify libraries.
        - test -f "$PREFIX/lib64/libsuperlu.so"                       # [unix]

about:
    home: http://crd-legacy.lbl.gov/~xiaoye/SuperLU/
    license_file: License.txt
    summary: "SuperLU contains a set of subroutines to solve a sparse linear system"
    
